<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>

    <% if(data.questions.length>0) {%>
    <% data.questions.forEach( questions=>{%>
    
    <h3>Questions:</h3>
    <h3><%= questions.question %></h3>
    
    <h4>Option 1:</h4>
    <p><%= questions.option_1 %></p>

    <h4>Option 2:</h4>
    <p><%= questions.option_2 %></p>

    <h4>Option 3:</h4>
    <p><%= questions.option_3 %></p>

    <h4>Option 4:</h4>
    <p><%= questions.option_4 %></p>

    <h4>Answer:</h4>
    <p><%= questions.answer %></p>
    
    
    <%})%>
    
    <%}%>
    
</body>
</html>